<div class="container" *ngIf="submitted else codeForm">
  <div class="activation-message" *ngIf="isOkay; else activationError">
    <h2>Activation réussie!</h2>
    <p>Votre compte a été activé avec succès.</p>
    <button class="btn btn-primary" (click)="redirectToLogin()">Allez dans Connexion</button>
  </div>
  <ng-template #activationError>
    <div class="activation-error">
      <h2>Activation echouée!</h2>
      <p>{{ message }}</p>
      <button class="btn btn-primary" (click)="submitted = false">Essayer à nouveau</button>
    </div>
  </ng-template>
</div>
<ng-template #codeForm>
  <div class="container">
    <div class="text-center" style="width: 400px;">
      <h2>Tapez votre code d'activation</h2>
      <code-input [isCodeHidden]="false"
                  [codeLength]="6"
                  [code]="'number'"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <button class="btn btn-primary mt-3" (click)="redirectToLogin()">Allez dans Connexion</button>
    </div>
  </div>
</ng-template>

